<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
    
    <!-- 랜딩페이지 고객 usercode 체크 -->
    <select id="userCheck" resultType="com.loccitane.user.domain.UserVO">
        select * from USERDATA
        where usercode = #{usercode} 
    </select>
    
    <!-- 고객 로그인 -->
    <select id="userLogin" resultType="com.loccitane.user.domain.UserVO">
        select * from USERDATA
        where usercode = #{usercode}
          and phone = #{phone}
    </select>
    
    <update id="userAgree" parameterType="com.loccitane.user.domain.UserVO">
    	update USERDATA
    	set agreeyn = #{agreeyn}
    	where userseq = #{userseq}
    </update>
 	
 	<insert id="userSave" parameterType="com.loccitane.user.domain.UserVO">
		insert into USERDATA (usercode, phone, agreeyn)
		values (#{usercode},#{phone},#{agreeyn})
	</insert>
	
	<update id="userUpdate" parameterType="com.loccitane.user.domain.UserVO">
    	update USERDATA
    	set phone = #{phone}
    	,agreeyn = #{agreeyn}
    	,startdate = #{startdate} 
    	,enddate = #{enddate}
    	where userseq = #{userseq}
    </update>

</mapper>
